.products {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}
.product-display {
    display: flex;
    flex-flow: wrap column;
}
.add-to-cart {
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1em;
}
button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    color: rgb(212, 208, 208);
    font-size: 2em;
}
.product-button {
    background-color: rgb(0, 89, 255);
    width: 75%;
}
button:hover {
    color: whitesmoke;
}
.purchase-button {
    background-color: rgb(36, 70, 36);
    width: fit-content;
}
.bottom-pos {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}